.detailPage__backButton {
  border: 0;
  border-radius: 4pt;
  padding: 8pt 24pt;
  align-self: flex-start;
  box-shadow: 0 0 10px -5px hsl(0, 0%, 70%);
  background: #FFFFFF;
}

.detailPage__backButton:hover {
  cursor: pointer;
}

.detailPage__backButton span {
  margin-left: 8pt;
}